// Muốn Git bỏ qua file hoặc folder nào thì khai báo ở đây

// Cách khai báo

// 1. Bỏ qua file
// Cú pháp: tên_file
// Ví dụ: bỏ qua file test.txt

// 2. Bỏ qua folder
// Cú pháp: /tên_folder
// Ví dụ: bỏ qua /folder test
